<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Welcome to <%= title %></h1>
<p>You should be able to access API now!!!</p>
</body>
</html>
